
.usercard{
    display:inline-flex;
    flex-direction: row;
    min-width: 235px;
    max-width: 20%;
    margin:2%;
    flex-wrap: wrap;
   
}
.user-paper{

        min-width: 245px;
        margin:auto;
        margin-top: 10px;
        
        padding-top: 100px;
        width: 60%;
        padding-bottom: 2%;

        align-items: center;
        text-align: center
}

