.bottom-nav {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 2;
}
.left-icons, .right-icons {
    width: 45%;
    display: flex;
    justify-content: space-evenly
}
.add-button img {
    position: relative; 
    bottom: 34px;
}


