/* Importing local font files */
/* This is for overriding the default 
font / styles and colors in the materialui component */

@font-face {
    font-family: 'BrandonText-Regular';
    src: local('brandontext-regular'), url(../fonts/brandontext-regular.otf) format('otf');
  }
  
@font-face {
    font-family: 'BrandonText-Bold';
    src: local('brandontext-bold'), url(../fonts/brandontext-bold.otf) format('otf');
}
  
  
.ButtonOverride {
    font-family: 'BrandonText-Bold';
    font-size: 0.875em;
    color: #FFF;
}