.overview {
    padding-top: 80px;
    margin: 2% 6% 20% 6% ;
}
.contract-card {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 3%
}
.card-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-button {
    margin: 4% 0;
    padding: 10px 25px;
    border-radius: 3px;
    background: linear-gradient(0.25turn,#e84435, #f57f17);
    color: white;
    font-family: 'BrandonText-Bold';
    letter-spacing: 1px;
}

/* Css for Contracts Details */
.contract-details {
    margin-top: 22%;
    text-align: center
}
.contract-details img {
    width: 400px;
}
.go-back-btn {
    float: right;
    margin: 5%
}

   