

.contractcard{

    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:5%;
   
}

.contract-paper{
       
    margin-top: 20%;
    margin: auto;
    text-align:center;
    padding-top: 5%;
    width: 60%;
    padding-bottom: 2%;
   
}

.cardwrapper {
    width:auto;
    display:inline-block;
    width: 20%;
    min-width: 250px;
   
}