.overview {
    padding-top: 80px;
    margin: 2% 6% 20% 6% ;
}
.contract-card {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 3%
}
.card-content {
    margin: 0
}
.card-action {
    display: inline-flex;
    justify-content: space-between;
}
.card-button {
    margin: 0 0 4% 0;
    padding: 10px 25px;
    border-radius: 3px;
    border: none;
    background: linear-gradient(0.25turn,#e84435, #f57f17);
    color: white;
    font-family: 'BrandonText-Bold';
    letter-spacing: 1px;
}

/* Css for Contracts Details */
.contract-details {
    margin-top: 25%;
    text-align: center
}
.contract-details h1 {
    border-bottom: 1px solid rgb(140, 140, 140);
    padding-bottom: 2%;
    display: inline-block;
    margin: 0;
}
.contract-details img {
    width: 350px;
}
.go-back-btn {
    float: right;
    margin: 5%
}

   