/* Styling file for all fields and form elements */

.input:enabled {
    font-family: 'BrandonText-Regular';
    font-size: 1.01em;
    color: #BFBFBF
  }

  input:focus, select:focus {
    outline: 2px solid #4A4A4A;
    color: #4A4A4A;
  }

  .error { border: 2px solid red; }

  @-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}