.home-Page {
    min-width: 100%;
    padding-top: 12%;
    padding-bottom: 50%;
    background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
    height: 100%;
    z-index: 1;
}

.header-home {
    padding: 15% 15% 10% 15%;
    margin: 0 auto 5% auto;
}
.header-home h1 {
    padding: 0 8% 5% 0;
    border-bottom: 1px solid #fff;
    letter-spacing: 0.4px;
    color: #fff;
}

.header-home h3 {
    color: #fff;
}

.header-home p {
    font-size: 0.875em;
    color: #fff;
}
.header-home a {

  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

@media screen and (min-width: 600px) {
    .home-Page {
        min-width: 100%;
        padding-top: 12%;
        padding-bottom: 50%;
        background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
        height: 100%;
        z-index: 1;
    }

    .header-home {
        padding: 15% 15% 10% 15%;
        margin: 0 auto 5% auto;
    }
    .header-home h1 {
        padding: 0 8% 5% 0;
        border-bottom: 1px solid #fff;
        letter-spacing: 0.4px;
        color: #fff;
    }

    .header-home h3 {
        color: #fff;
    }

    .header-home p {
        font-size: 0.875em;
        color: #fff;
    }

}
@media screen and (min-width: 800px) {
    .home-Page {
        min-width: 100%;
        padding-top: 12%;
        padding-bottom: 50%;
        background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
        height: 100%;
        z-index: 1;
    }

    .header-home {
        padding: 15% 15% 10% 15%;
        margin: 0 auto 5% auto;
    }
    .header-home h1 {
        padding: 0 8% 5% 0;
        border-bottom: 1px solid #fff;
        letter-spacing: 0.4px;
        color: #fff;
    }

    .header-home h3 {
        color: #fff;
    }

    .header-home p {
        font-size: 0.875em;
        color: #fff;
    }
}

@media screen and (min-width: 900px) {
    .home-Page {
        min-width: 100%;
        padding-top: 12%;
        padding-bottom: 50%;
        background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
        height: 100%;
        z-index: 1;
    }

    .header-home {
        padding: 5% 15% 10% 15%;
    }

    .header-home h3 {
        color: #fff;
    }

    .header-home p {
        font-size: 0.875em;
        color: #fff;
    }
}
@media screen and (min-width: 1000px) {
    .home-Page {
        min-width: 100%;
        padding-top: 12%;
        padding-bottom: 50%;
        background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
        height: 100%;
        z-index: 1;
    }

    .header-home {
        padding: 15% 15% 10% 15%;
        margin: 0 auto 5% auto;
    }
    .header-home h1 {
        padding: 0 8% 5% 0;
        border-bottom: 1px solid #fff;
        letter-spacing: 0.4px;
        color: #fff;
    }

    .header-home h3 {
        color: #fff;
    }

    .header-home p {
        font-size: 0.875em;
        color: #fff;
    }
}


