body, a {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}


.card-content{
  margin:10px;
  height:100px;
}

/* Importing local font files */

@font-face {
  font-family: 'BrandonText-Regular';
  src: local('brandontext-regular'), url(../fonts/brandontext-regular.woff) format('woff');
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: local('brandontext-bold'), url(../fonts/brandontext-bold.woff) format('woff');
}

a {
  color: #127ecf;
}

p, li {
  font-family: 'BrandonText-Regular';
  font-size: 1em;
  color: #4A4A4A;
}

h1 {
  font-family: 'BrandonText-Bold';
  font-size: 1.25em;
  color: #4A4A4A;
}

h2 {
  font-family: 'BrandonText-Bold';
  font-size: 1.125em;
  color: #4A4A4A;
}

h3 {
  font-family: 'BrandonText-Bold';
  font-size: 1em;
  color: #4A4A4A;
}

h2 {
  font-family: 'BrandonText-Bold';
  font-size: 18px;
  color: #4A4A4A;
}

h3 {
  font-family: 'BrandonText-Bold';
  font-size: 16px;
  color: #4A4A4A;
}

.loginPage {
  padding: 0 30px;
  margin-top: 6em;
}

@media screen and (min-width: 600px) {
  .loginPage {
    padding: 0 30px;
    margin-top: 6em;
  }

}