.top-nav {
    background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.profile {
    padding-left: 6%
}

.chat {
    padding-right: 6%
}


@media screen and (min-width: 600px) {
    .profile,.chat {
        display: none;
    }
    
    .logo {
        /* padding-left: 3.6%; */
        padding: 0 30px;
    }

}