.upload-page {
    min-width: 100%;
    padding-top: 12%;
    background: linear-gradient(90deg, #E84435 3.74%, #F57F17 100%);
    height: 100%
}

/* header */
.header {
    padding: 15% 15% 10% 15%;
    margin: 0 auto 5% auto;
}
.header h1 {
    padding: 0 8% 5% 0;
    border-bottom: 1px solid #fff;
    letter-spacing: 0.4px;
    color: #fff;
}
.header p {
    font-size: 0.875em;
    color: #fff;
    /* font-weight: light  */
}

/* icons */
.icons, .input {
    display: flex;
    position: absolute;
    left: 20%;
    right: 20%;
}
.gal {
    padding-left: 10%;
}
.cam {
    padding-right: 25%;
}
.camIcon {
    height: 80px;
    width: 86px; 
    margin-right: 15%;
    opacity:0
}
.fileIcon {
    height: 74px;
    width: 52px;
    margin-left: 20%;
    opacity: 0
}

/* bottom */
.bottom-link {
    text-align: center;
    font-size: 0.875em;
    padding: 0 15%;
    margin: 35% auto 45% auto;
}
