.upload-page {
    min-height: 80%;
    min-width: 100%;
    padding-top: 12%;
    position: fixed;
}
.upload-page h1, p {
    color: #fff;
    letter-spacing: 0.4px
}

/* header */
.header {
    padding: 15%;
    margin: 0 auto;
}
.header h1 {
    padding: 0 8% 5% 0;
    border-bottom: 1px solid #fff
}
.header p {
    font-size: 0.875em;
    /* font-weight: light  */
}

/* icons */
.icons, .input {
    display: flex;
    position: absolute;
    left: 20%;
    right: 20%;
}
.gal {
    padding-left: 10%;
}
.cam {
    padding-right: 25%;
}
.camIcon {
    height: 80px;
    width: 86px; 
    margin-right: 15%;
    opacity:0
}
.fileIcon {
    height: 74px;
    width: 52px;
    margin-left: 20%;
    opacity: 0
}

/* bottom */
.bottom-link {
    position: absolute;
    bottom: 0;
    font-size: 0.875em;
    padding: 15%;
    margin: 0 auto;
}
