.user-paper {
    margin: 15% auto;
    width: 80%; 
}
.user-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
}
.user-card {
    width: 200px;
    text-align: center;
    margin: 6% 0;
}
.user-card img {
    width: 100px
}


