.overview {
    margin: 2% 6% 20% 6% ;
    
}
.contract-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contract-card {
    padding: 0 5%;
    margin: 3% auto;
    width: 60%;
}
.card-button {
    margin-bottom: 20%;
    padding: 10px 25px;
    border-radius: 3px;
    background: linear-gradient(0.25turn,#e84435, #f57f17);
    color: white !important;
    font-family: 'BrandonText-Bold';
    letter-spacing: 1px;
    size: 10px;
}


.all-users-button{
    background: linear-gradient(0.25turn,#e84435, #f57f17)!important;
    color:white!important;
    margin-top:100px!important;
    padding-top:10px!important;
    margin-left:10px!important;
    width:160px!important;
}