.cardwrapper {
    margin: 110px 20px;
    width: 100%
}
.contract-card {
    width: 50%;
    margin: 8% auto;
    padding: 5%;
    text-align: center;
}
.modal img {
    max-height: 700px;
    max-width: 900px;
    padding-left: 40px;
    display: flex;
    margin: 0 auto;
}
.card-button {
    margin-top: 2%
}
.filter-status{
    color:  #e84435;
    height: 25px;
    background: white;
    font-size: 16px; 
    width:130px;
    outline: none;
    font-family: 'BrandonText-Regular';
}

