.overview-page {
    margin: 110px 20px;
}
.contract-overview {
    margin: 5% 0;
    text-align: center;
}
.contract-details {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    margin: 2% 0;
    padding: 2% 0;
    width: 40%
}
.card-content {
    padding: 10%
}

