.image-paper{
    min-width: 245px;
    margin:auto;
    margin-top: 10px;
    padding-top: 100px;
    width: 80%;
    padding-bottom: 2%;
    text-align: center;
    min-height: 245px;
    height: 800px;
}
.modal img {
    margin: 0 auto;
    height: 200px
}

.image-contract {
    margin: 0 auto;
    padding:60px;
    max-width:1250px;
    min-height: 700px;
    max-height: 700px;
    min-width :1250px;
}